.view__messages__message
  - @messages.each do |message|
    .view__messages__message__name
      = message.user.name
    .view__messages__message__date
      = message.created_at
    .view__messages__message__body
      = message.body
