.view__messages__message
  .view__messages__message__name
    = message.user.name
  .view__messages__message__date
    = message.post_time
  .view__messages__message__body
    = message.body
  -# %img{ src: message.image }

