.view__messages__message
  .view__messages__message__name 名前
  .view__messages__message__date 投稿日時
  .view__messages__message__body 投稿内容
.view__messages__message
  .view__messages__message__name 名前
  .view__messages__message__date 投稿日時
  .view__messages__message__body 投稿内容
