.view__group
  .view__group--edit Edit
  .view__group__info
    .view__group__info__name
      - if @chat_group.present?
        = @chat_group.name
    .view__group__info__member Members: メンバーの名前

.view__messages
  = render partial: "message"
.view__message--new
  = form_tag do
    %input{ type:"body", placeholder: "type a message" }
    %i.fa.fa-picture-o{ aria: { hidden: true } }
    %button{ type: "submit", value: "Send" }Send
