.content
  #search__box
    = form_field_tag :tweet, nil,  id: "tweet_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px"
    = button_tag type: "submit"

  #tweet__list
  - if @tweets.present?
    %h2 検索結果
    %ul
      = @tweets.each_with_index do |tweet, i|
        .list
          %li{ = i }: { = tweet.contents }
