%div.menu__user
  %div.menu__user__name Ishikawa
  %div.menu__user__action
    %div.menu__user__action--new
      %i.fa.fa-pencil-square-o{ aria: { hidden: true } }
    %div.menu__user__action--edit
      %i.fa.fa-cog{ aria: { hidden: true } }
%div.menu__group
  %div.menu__group__name
    グループ名
  %div.menu__group__message
    最新のコメント
  %div.menu__group__name
    グループ名
  %div.menu__group__message
    最新のコメント
