.menu__user
  .menu__user__name Ishikawa
  .menu__user__action
    .menu__user__action--new
      %i.fa.fa-pencil-square-o{ aria: { hidden: true } }
    .menu__user__action--edit
      = link_to edit_user_registration_path do
        %i.fa.fa-cog{ aria: { hidden: true } }
.menu__group
  .menu__group__name
    グループ名
  .menu__group__message
    最新のコメント
  .menu__group__name
    グループ名
  .menu__group__message
    最新のコメント
