
%body
  %header
    チャットグループが更新されました
  %div.menu
    %div.menu__user
      %p.user__name Ishikawa
      %ul.user__action
        %li.user__new
          新規
        %li.user__edit
          編集
    %div.menu__group
      %p.group__name
        グループ名
      %p.group__message
        最新のコメント
      %p.group__name
        グループ名
      %p.group__message
        最新のコメント
