
%body
  %header
    チャットグループが更新されました
  %div.menu
    %div.menu__user
      %p.user__name Ishikawa
      %div.user__action
        %div.user--new
        %i.fa.fa-pencil-square-o{ aria: { hidden: true }}
        %div.user--edit
        %i.fa.fa-cog{ aria: { hidden: true }}
    %div.menu__group
      %p.group__name
        グループ名
      %p.group__message
        最新のコメント
      %p.group__name
        グループ名
      %p.group__message
        最新のコメント

  %div.view
    %div.view__group
      %p.group--edit Edit
      %div.group__info
        %p.group__name 現在のグループ名
        %p.group__member Members: メンバーの名前

    %div.view__all__messages
      %div.view__message
        %p.message__name 名前
        %p.message__date 投稿日時
        %p.message__body 投稿内容
      %div.view__message
        %p.message__name 名前
        %p.message__date 投稿日時
        %p.message__body 投稿内容
      %div.view__message
        %p.message__name 名前
        %p.message__date 投稿日時
        %p.message__body 投稿内容
      %div.view__message
        %p.message__name 名前
        %p.message__date 投稿日時
        %p.message__body 投稿内容
      %div.view__message
        %p.message__name 名前
        %p.message__date 投稿日時
        %p.message__body 投稿内容
      %div.view__message
        %p.message__name 名前
        %p.message__date 投稿日時
        %p.message__body 投稿内容

    %div.view__message--new
      = form_tag do
        %input{ type:"body", placeholder: "type a message" }
        %i.fa.fa-picture-o{ aria: { hidden: true }}
        %button{ type: "submit", value: "Send"}Send

