// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}


header {
  background-color: #38AEF0;
  text-align: center;
  color: #ffffff;
}
