html, body {
  height: 100%;
}


header {
  background-color: #38AEF0;
  text-align: center;
  color: #ffffff;
  height: 22px;
}

.menu {
  width: 300px;
  float: left;
  color: #ffffff;
  height: calc(100vh - 22px);    //ヘッダー分を除き、画面いっぱいに広がる
  &__user {
    padding: 0 20px 0;
    height: 100px;
    background-color: #253141;
    font-size: 16px;

    &__name {
      font-weight: bold;
      margin: 35px auto;
      float: left;
    }

    &__action {
      margin: 35px auto;
      float: right;
      i {
        font-size: 20px;
      }
      &--new {
        display: inline;
      }

      &--edit {
        display: inline;
      }
    }
  }
   .menu__group {
    padding: 0 20px 0;
    background-color: #2f3e51;
    height: calc(100vh - 122px);    //ヘッダー分とmenu__user分を除き、画面いっぱいに広がる
    p.group__name {
      font-size: 15px;
      padding: 20px 0 2.5px;
    }

    p.group__message {
      font-size: 11px;
      padding: 2.5px 0 40px 0;
    }
  }
}

.view {
  float: left;
  height: calc(100vh - 22px);     //ヘッダー分を除き、画面いっぱいに広がる
  display: flex;
  flex-direction: column;
  width: calc(100vw - 300px);     //左側のメニュー分を除き、画面いっぱいに広がる

  &__group {
    height: 99.5px;
    border-bottom: solid 0.5px #eeeeee;
    &--edit {
      color: #38AEF0;
      line-height: 40px;
      border: solid #38AEF0 2px;
      margin: 28px 40px 0 0;
      padding: 0 20px;
      float: right;

    }
    &__info {
      margin: 35px 0 0 40px;
      float: left;
      &__name {
        color: #333333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__member {
        color: #999999;
        font-size: 12px;
      }
    }
  }

  .view__all__messages {
    width: 100%;
    padding-top: 46px;
    flex: 1;
    overflow: scroll;
    background: rgba(170,170,170, 0.1);

    .view__message {
      margin: 0 0 40px 40px;

      p.message__name {
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
        display: inline-block;        //投稿者と投稿日時を横並びにする
        vertical-align: middle;       //文字の高さを中央に合わせる
      }
      p.message__date {
        font-size: 12px;
        color: #999999;
        margin-left: 10px;
        display: inline-block;        //投稿者と投稿日時を横並びにする
        vertical-align: middle;       //文字の高さを中央に合わせる
      }
      p.message__body {
        font-size: 14px;
        color: #434A54;
        margin-top: 10px;
      }
    }
  }


  .view__message--new {
    height: 90px;
    width: calc(100vw - 300px);       //左側のメニュー分を除き、画面いっぱいに広がる
    background: rgba(170,170,170, 0.4);

    input {
      height: 50px;
      width: 760px;
      padding-left: 10px;
      margin: 20px 0 20px 40px;
      border: none;
      float: left;
    }

    i {
      position: absolute;           //アイコンを入力フォームに重ねる
      bottom: 35px;
      right: 180px;
    }

    button {
      height: 50px;
      width: 100px;
      background-color: #38AEF0;
      color: #ffffff;
      font-size: 18px;
      border: none;
      float: right;
      margin: 20px 40px 20px 15px;
    }
  }
}
