name: CI
on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: debug
        run: echo ${{ github.head_ref }}
      - name: debug2
        run: echo ${{ github.ref_name == 'main' }}
      - name: set up test db
        run: make test_db
      - name: set up test web
        run: make test_web && make test_bundle
      - name: set up test web asset
        run: make test_precompile
      - name: set up test migrate
        run: make test_migrate
      - name: run rspec
        run: make rspec
  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3

  #     - name: Build docker image
  #       run: docker build . -t suimi34/chat-space:dev
